@import '../../../styles/config';

.chart {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;

  .title {
    text-align: center;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    margin-bottom: 1rem;
  }

  .doughnut-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    .total-label {
      position: absolute;
      font-size: $font-size-xxxl;
      font-weight: $font-weight-semibold;
      top: 54%;
      text-align: center;

      &.has-only-chart-label {
        top: 42%;
      }
    }

    .doughnut {
      width: 32rem !important;
      height: 32rem !important;
    }
  }
}
