@import '../../../styles/config.scss';

.button-wrapper {
  width: 100%;
  border-radius: $border-radius-md;
  font-size: $font-size-md;
  cursor: pointer;
  padding: 1rem 2rem;
}

.primary {
  color: $color-primary-contrast;
  background-color: $color-secondary;

  &:hover {
    background-color: $color-secondary-shade;
  }
}

.secondary {
  color: $color-secondary-contrast;
  background-color: transparent;

  &:hover {
    color: $color-secondary-shade;
  }
}
