@import '../../../styles/config.scss';

.button-wrapper {
  width: 100%;
  height: 4rem;
  border-radius: $border-radius-md;
  color: $color-primary-contrast;
  background-color: $color-secondary;
  font-size: $font-size-md;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-shade;
  }
}
