// Neutral
$color-primary: #5E2D80;
$color-primary-contrast: #FEFEFE;
$color-primary-bg: #F8F8F8;

$color-secondary: #EF5DA8;
$color-secondary-contrast: #343434;
$color-secondary-shade: #F42A92;

$color-tertiary-contrast: #838383;
$color-tertiary-tint: #E1E1E1;

$color-feedback-error: #e06666;