// Font Weight
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Font Size
$font-size-xxs: 1.2rem;
$font-size-xs: 1.4rem;
$font-size-sm: 1.6rem;
$font-size-md: 2rem;
$font-size-lg: 2.2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;
$font-size-xxxl: 3.6rem;
