@import '../../styles/config.scss';

.header {
  display: grid;
  grid-template: 1fr auto / minmax(12rem, auto) minmax(auto, $max-desktop-width) minmax(12rem, auto);
  grid-template-areas:
    '. logo .'
    '. options .';
  justify-items: center;
  height: 10.8rem;
  background-color: $color-primary;
  box-sizing: border-box;

  .header-content {
    position: relative;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem;
    width: 100%;

    fill: $color-primary-contrast;

    .logo-text {
      font-size: $font-size-xxxl;
      color: $color-primary-contrast;
      font-weight: $font-weight-bold;
    }

    .user-menu {
      position: absolute;
      right: 0;
      width: auto;

      .user-menu-text {
        font-size: 1.6rem;
        color: $color-primary-contrast;
      }
    }
  }

  .options-container {
    grid-area: options;
    display: grid;
    grid-template: 1fr / repeat(5, auto) 1fr;
    grid-template-areas: 'time category status divider clear add';
    width: 100%;
    align-items: center;

    .time {
      grid-area: time;
      padding-right: 2rem;
    }

    .category {
      grid-area: category;
    }

    .divider {
      grid-area: divider;
      width: 0.3rem;
      height: 3.4rem;
      background: $color-primary-contrast;
      margin: 0 2rem;
      box-shadow: $drop-shadow-md;
    }

    .clear-button {
      grid-area: clear;
      width: 13rem;
    }

    .add-button {
      grid-area: add;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius-full;
      height: 5rem;
      width: 5rem;
      justify-self: flex-end;
      padding: 0;
    }
  }
}

.plus-icon {
  width: 2rem;
  height: 2rem;
  fill: $color-primary-contrast;
}

.tasks-modal {
  display: grid;
  row-gap: 2rem;
  width: 50rem;
  padding: 2rem;
  box-sizing: border-box;

  .title {
    color: $color-secondary-contrast;

    font-size: 2rem;
    line-height: 3.6rem;
    margin-bottom: 1rem;
  }

  .button {
    width: auto;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
