@import '../../styles/config.scss';

.header {
  display: grid;
  grid-template: 1fr auto / minmax(12rem, auto) minmax(auto, $max-desktop-width) minmax(12rem, auto);
  grid-template-areas:
    '. logo .'
    '. tab-bar .';
  justify-items: center;
  height: 12rem;
  background-color: $color-primary;
  box-sizing: border-box;

  .header-content {
    position: relative;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem;
    width: 100%;

    fill: $color-primary-contrast;

    .logo-text {
      font-size: $font-size-xxxl;
      color: $color-primary-contrast;
      font-weight: $font-weight-bold;
    }

    .user-menu {
      position: absolute;
      right: 0;
      width: auto;

      .user-menu-text {
        font-size: 1.6rem;
        color: $color-primary-contrast;
      }
    }
  }

  .tab-bar {
    grid-area: tab-bar;
    width: 100%;
    margin-top: -0.8rem;
  }
}

.plus-icon {
  width: 2rem;
  height: 2rem;
  fill: $color-primary-contrast;
}
